<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.ConnectionString" connectionString="Data Source=PE03Z28Z\SQLEXPRESS;Initial Catalog=bdSistemaEscolar;Integrated Security=True" />
    </connectionStrings>
</configuration>